html, body{
    background-color: #f5f5f5;
    font-family: Roboto;
    color: #212121;
}
h1 {
    font-size: 26px;
    font-weight: 600;
    margin: 0px 0px 30px 0px;
}
.top
{
    background-color: #2b98d4;
    height: 150px;
}
.center
{
    text-align: center;
}
.mbot30
{
    margin-bottom: 30px;
}
.mbot20
{
    margin-bottom: 20px;
}
.mtop20
{
    margin-top: 20px;
}
.mtop30
{
    margin-top: 30px;
}
.mtop50
{
    margin-top: 50px;
}
.mrig10
{
    margin-right: 10px;
}
.paragraph
{
    margin: 0px;
    font-size: 16px;
    margin-bottom: 30px;
}
.pad20
{
    padding: 20px;
}
.dp
{
    height:220px;
    width:220px;
    margin-top: -120px;
    border-radius: 100%;
    border:10px solid #2b98d4;

}
.name
{
    font-size: 36px;
    margin: 25px 0px 0px 0px;
}
.dev
{
    font-size: 24px;
    font-weight: 300;
}
p {
    font-size: 16px;
    font-weight: 400;
}
.bg
{
    background-color: #fff;
    padding: 40px;
    border-bottom: 2px solid #e0e0e0;
    margin: 0px 0px 25px 0px;
}
.section-title
{
    font-size: 20px;
    text-transform: uppercase;
    color: #2b98d4;
    margin: 0px 0px 10px 0px;
    padding: 0;
}
.section-subtile
{
    font-size: 16px;
    color: #757575;
}
.skill-title
{
    margin: 0px 0px 10px 0px;
    font-size: 16px;
    font-weight: 400;
}
.icon
{
    height: 40px;
    width: 40px;
    color: #fff;
    background-color: #2b98d4;
    border-radius: 50%;
    font-size: 18px;
    padding: 11px 0px 0px 0px;
    text-align: center
}

.year
{
    font-size: 14px;
    color: #757575;
}   
.progress
{
    overflow: visible;
    box-shadow: none;
    border: 1px solid #2b98d4;
    background-color: #fff;
    height: 10px;
    border-radius: 10px;
}
.progress-bar
{
    background-color: #2b98d4;
    box-shadow: none;
}
.progress-bar:after {
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #2b98d4;
    margin-right: -15px;
    margin-top: -12px;
    border: 4px solid #fff;
    float: right;
}
.right
{
    float: right;
}
.mar-lr
{
    margin-left: -25px;
    margin-right: -25px
}
.image-size{
    max-height:270px;
    max-width:100%;
}
.div-image-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px;
}
#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
.menu {
    height: 48px;
    width: 48px;
    padding: 13px 0px 0px 14px;
    background: #fff;
    border-radius: 50%;
    color: #2b98d4;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    font-size: 20px;
    cursor: pointer;
}
.left-menu
{
    padding: 60px 80px;
    text-align: c
}
.left-menu i:hover, .left-menu i:focus {
    background-color: #2586ba;
    color: #fff;
}
.left-menu i:active {
    background-color: #fff;
    color: #2b98d4;
}
.top-name
{
    margin-left: 15px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}
.logo{
    border-radius: 50%;
}
.sidebar
{
    color: #757575;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 16px;
    display: block;
}
.sidebar:hover
{
    background-color: #f2f2f2;
}
.sidebar.active
{
    background-color: #f2f2f2;
}
.d-logo
{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #2b98d4;
    border-radius: 50%;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
}
.modal.left .modal-dialog
{
position: fixed;
margin: auto;
-webkit-transform: translate3d(0%, 0, 0);
-ms-transform: translate3d(0%, 0, 0);
o-transform: translate3d(0%, 0, 0);
transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content
{   
overflow-y: auto;
}   
.modal.left.fade .modal-dialog{
left: -320px;
-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
-moz-transition: opacity 0.3s linear, left 0.3s ease-out;
-o-transition: opacity 0.3s linear, left 0.3s ease-out;
transition: opacity 0.3s linear, left 0.3s ease-out;
}
.modal.left.fade.in .modal-dialog{
left: 0;
}